<div class="box">
  <p><%= params[:question] %></p>
  <p><em>-You</em></p>
</div>

<div class="box" id="reply">
  <p><strong><%= @reply %></strong></p>
  <p><em>-Coach</em></p>
</div>

<%= link_to 'Ask another question here',
            ask_path %>