<form action="/answer" method="get">
  <label for="question">Ask your coach anything</label>
    <br>
    <input type="text"
           name="question"
           id="question"
           placeholder="What's on your mind?"
           required>
  </label>
  <input type="submit" value="Ask!">
</form>