// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Defining a variable
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

a {
  color: grey;
  &:hover {
    color: black;
  }
}